html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(39, 245, 125);
}

#map,
#pano {
  float: left;
  height: 70%;
  width: 50%;
}

#selectPlace {
  width: 200px;
}

#result {
  width: 100%;
  margin: 0 auto;
  color: white;
  font-size: 150px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}